.navbar.navbar-default {
  border-radius: 0;
  font-size: 24px;
  margin-bottom: 0;
  padding: 0;
}
.navbar.navbar-default .navbar-brand {
  background-color: #fff;
  height: 60px;
  padding: 15px;
}
.navbar.navbar-default .navbar-brand > img {
  height: 30px;
}
.navbar.navbar-default .nav.navbar-nav > li > a {
  max-height: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
}