<div class="page-header">
    <h1>Camps</h1>
</div>
<div class="row">
    <div class="col-sm-10">
        <input type="text" class="form-control" />
    </div>
    <div class="col-sm-2">
        <a class="btn btn-block btn-primary">Add</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>City</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let camp of camps">
                        <td>
                            <a class="btn btn-link">Edit</a>
                        </td>
                        <td>{{camp.title}}</td>
                        <td>{{camp.city}}</td>
                        <td>{{camp.state}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>