<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header text-xs-center">
                <h4>Upcoming Future150 Events</h4>
            </div>
            <div class="card-header text-xs-center">
                <ul class="nav nav-pills card-header-pills">
                    <li>
                        <a href (click)="selectEvents()">All</a>
                    </li>
                    <li>
                        <a href (click)="selectCamps()">Camps</a>
                    </li>
                    <li>
                        <a href (click)="selectTournaments()">Tournaments</a>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-4 col-sm-6" *ngFor="let event of events | slice:0:visibleEventsCount" [hidden]="isEventsLoading">
                        <a class="thumbnail">
                            <div class="overlay-wrapper">
                                <img [src]="event.imageUrl" class="img-fluid" [alt]="event.title">
                                <span class="overlay">3 Spots Left</span>
                            </div>
                            <div class="caption text-center">
                                <h3>{{event.title}}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 text-center" [hidden]="!isEventsLoading">
                        <i class="fa fa-circle-o-notch fa-3x fa-spin"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer text-xs-center">
                <button (click)="showMoreEvents()" class="btn btn-lg btn-primary">More Events <span class="caret"></span></button>
                <a class="btn btn-lg btn-default">View All <i class="fa fa-share-square-o"></i></a>
            </div>
        </div>
    </div>
</div>