<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header text-xs-center">
                <h4>Nationally Ranked High School Players</h4>
            </div>
            <div class="card-header card-header-inverse text-xs-center">
                <ul class="nav nav-pills card-header-pills">
                    <li *ngFor="let ranking of rankings">
                        <a (click)="selectRankings(ranking._id)">{{ranking.year}}</a>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2_4 col-sm-4" *ngFor="let playerRankings of selectedRanking.players | slice:0:visibleRankingPlayerCount"
                        [hidden]="isRankingsLoading">
                        <f150-player-detail [player]="playerRankings.player" [rank]="playerRankings.rank" [defaultProfileImageUrl]="defaultProfileImageUrl"></f150-player-detail>
                    </div>
                    <div class="col-xs-12 text-center" [hidden]="!isRankingsLoading">
                        <i class="fa fa-circle-o-notch fa-3x fa-spin"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer text-xs-center">
                <button (click)="showMoreRankingPlayers()" class="btn btn-lg btn-primary">More Players <span class="caret"></span></button>
                <a class="btn btn-lg btn-default">View All <i class="fa fa-share-square-o"></i></a>
            </div>
        </div>
    </div>
</div>